@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --Transparent-white: hsla(0, 0%, 100%, 0.75);
  --Very-light-gray: hsl(0, 0%, 95%);
}


body {
  font-size: 0.8rem;
  color: var(--Transparent-white);
  font-family: 'Lexend Deca', sans-serif;
  color: var(--Transparent-white);
}

#main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#card-container {
  list-style-type: none;
  margin: 5rem 3rem 3rem 3rem;
}

.heading {
  color: var(--Very-light-gray);
  margin: 1.5rem 0;
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  font-size: 2.3rem;
}

.cards {
  padding: 2.5rem 2.5rem 0 2.5rem;
  max-width: 20rem;
}

img {
  width: 3.5rem;
}

.cards:first-child {
  background: var(--Bright-orange);
  border-radius: 0.4rem 0.4rem 0 0;
}

.cards:nth-child(2) {
  background: var(--Dark-cyan);
}

.cards:nth-child(3) {
  background: var(--Very-dark-cyan);
  border-radius: 0 0 0.4rem 0.4rem;
}

.btn {
  text-decoration: none;
  background: var(--Very-light-gray);
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
  border: 0.1rem solid var(--Very-light-gray);
  text-align: center;
  margin-bottom: 2.5rem;
}

.ads {
  margin-bottom: 2rem;
}

.cards:first-child a {
  color: var(--Bright-orange);
}

.cards:nth-child(2) a {
  color: var(--Dark-cyan);
}

.cards:nth-child(3) a {
  color: var(--Very-dark-cyan);
}

.cards:first-child a:active {
  background: var(--Bright-orange);
  border: 0.1rem solid var(--Very-light-gray);
  color: var(--Very-light-gray);
}

.cards:nth-child(2) a:active {
  background: var(--Dark-cyan);
  border: 0.1rem solid var(--Very-light-gray);
  color: var(--Very-light-gray);
}

.cards:nth-child(3) a:active {
  background: var(--Very-dark-cyan);
  border: 0.1rem solid var(--Very-light-gray);
  color: var(--Very-light-gray);
}

.attribution {
  margin-bottom: 3rem;
  font-size: 11px;
  text-align: center;
  color: var(--Very-dark-cyan);
  padding: 0 1rem;
}

.attribution a {
  color: var(--Very-dark-cyan);
}

@media screen and (min-width: 769px) {

  #card-container {
    display: flex;
  }

  .heading {
    font-size: 2rem;
  }

  .ads {
    margin-bottom: 3rem;
  }

  .cards:first-child {
    border-radius: 0.4rem 0 0 0.4rem;
  }
  
  .cards:nth-child(3) {
    border-radius: 0 0.4rem 0.4rem 0;
  }
}

